<!doctype html>
{% load static %}
<html>
<head>
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" href="{% static "homepage/images/favicon.ico" %}" type="image/x-icon"/>
<title>BootBW</title>
<link rel="stylesheet" href="{% static "homepage/css/style.css" %}" type="text/css">
<script type="text/javascript" src="{% static "homepage/js/jquery.js" %}"></script>
<script type="text/javascript" src="{% static "homepage/js/js.js" %}"></script>
<script type="text/javascript">
		$(document).ready(function(){	

		});	
	</script>
</head>
<body class="inner">
<div class="auto_hide_header"><em class="menu_toggle"></em>
<!--end.nav--> 
<a href="contact.html" class="get_in_touch">get in touch</a> 
</div>
<!--end.auto_hide_header-->
<div class="header inner_header"> <img class="header_bg" src="{% static "homepage/images/about.jpg" %}" />
<div class="header_txt"><h1>Design, Develop & Deliver</h1><p>We're a fun bunch but we take design serious.</p>
<div class="header_arrow"><a class="animateTo" href="javascript:void(0)" go-to="go1">&#xf35d;</a></div>
</div>
<ul class="header_nav">
<li><a class="animateTo" href="javascript:void(0)" go-to="go1">01.DO IT</a></li>
<li><a class="animateTo" href="javascript:void(0)" go-to="go2">02.OUR TEAM</a></li>
</ul>
</div>
<!--end.header-->
<div class="main_content relative">	
<h3 class="b_title" data-number="01">
<hr>
do it
</h3>
<div class="wd" id="go1">
	<h5 class="wd_title half_box">the things we can do for you:</h5>
	<div class="wd_wrap">
    	<div class="wd_item a_hash1">
       		 <div class="wd_box wd_box_left"><div class="wd_pic"><img class="wd_img" src="{% static "homepage/img/values-02.jpg" %}" /></div></div>
        	<div class="wd_box wd_box_right"><div class="wd_text"><h6>USER EXPERIENCE & INTERFACE DESIGN</h6><p>Platform agnostic, or platform specific, it’s not just about looking fresh. All software should be enjoyable, as well as usable.</p></div></div>   
        </div>
        <!--end.wd_item-->
        <div class="wd_item a_hash2">
        <div class="wd_box wd_box_left"><div class="wd_pic"><img class="wd_img" src="{% static "homepage/img/values-03.jpg" %}" /></div></div>
             <div class="wd_box wd_box_right"><div class="wd_text"><h6>PRODUCT DESIGN</h6><p>Shaping ideas into useful products, and designing features that benefit your users, and bring ROI.</p></div></div>        	
        </div>
        <!--end.wd_item-->
   		<div class="wd_item a_hash3">    
                    <div class="wd_box wd_box_left"><div class="wd_pic"><img class="wd_img" src="{% static "homepage/img/values-04.jpg" %}" /></div></div>
   	 
        	<div class="wd_box wd_box_right"><div class="wd_text"><h6>FRONT-END DEVELOPMENT</h6><p>Preparation inspires confidence. Confidence earns respect. At the heart of every innovative product and service we build is the respect we earn from our clients. It fosters collaboration and trust in the process.
<br><br>

Join every call, meeting, and discussion like you’ll be quizzed on any and every possible aspect of the project. Make it your duty to be the most prepared person in the room. Be prepared. Period.</p></div></div>
        </div>
        <!--end.wd_item-->
    </div>
    <!--end.wd_wrap-->
</div>
<!--end.wd-->
<div class="our_team center_box relative" id="go2">
<h3 class="b_title" data-number="02">
<strong>OUR TEAM</strong>
<hr>
</h3>
<div class="team_box">
	<ul>
		<li class="team_item"><div class="team_flip"><div class="flip_out"><div class="flip_outbox"><h4>Partners</h4><p>Mainly responsible for project development management and process monitoring. Discuss and communicate with customers at all times to ensure high quality and timely completion of the project.</p></div></div><!--end.flip_out--><div class="flip_outbox"><div class="flip_in"><p>
<strong>Rafael Prieto</strong>
<span>Founder & Creative Director</span>
 
<strong>Pablo Limón</strong>
<span>Founder & Architecture Director</span>
</p></div></div></div><!--end.viewport_flip--></li>
		<li class="team_item"><div class="team_flip"><div class="flip_out"><div class="flip_outbox"><h4>Branding</h4><p>We not only provide beautiful design, but also know that design is a kind of method or strategy, not merely art freedom, design carrier is brand, emphasize the practicability of design.</p></div></div><!--end.flip_out--><div class="flip_in"><div class="flip_outbox">
       <p> <strong>Abraham Beltrán</strong>
<span>Senior Graphic Designer</span>
 
<strong>Albert Mestres</strong>
<span>Graphic Designer</span>
 
<strong>Natalia Garza</strong>
<span>Graphic Designer</span>
 
<strong>Juan Hernández</strong>
<span>Photographer</span>
   </p>
        
        </div></div></div><!--end.viewport_flip--></li>
        <li class="team_item"><div class="team_flip"><div class="flip_out"><div class="flip_outbox"><h4>developer</h4><p>The original code writing, and strive to optimize the site structure, streamline the program code, a clear hierarchy.</p></div></div><!--end.flip_out--><div class="flip_outbox"><div class="flip_in">
    <p>    
      <strong>Ricardo Torres</strong>
<span>Programmer</span>

<strong>Geraldine Torres</strong>
<span>Programmer</span>
 
<strong>Fernando Peña</strong>
<span>front-end developer</span>
 
<strong>Carolina Evoli</strong>
<span>front-end developer</span>
   
    </p>    
        </div></div></div><!--end.viewport_flip--></li>
    </ul>
    </div>
    <!--end.team_box-->
</div>
<!--end.our_team-->
</div>
<!--end.main_content-->
<div class="footer">
	<div class="block">
    	<div class="half_box left_footer">
        	<ul>
             <li><a href="about.html">about us</a><a href="case.html">our case</a><a href="contact.html">contact us</a></li>
            <li>&copy; bootbw.com . All rights reserved.</li>
            </ul>
        </div>
        <div class="half_box right_footer"><a class="ScrollTopBtn" href="javascript:void(0)">Back to top</a></div>
    </div>
</div>
<!--footer-->
<div class="full_border"><div class="container"> <span class="border-1"></span> <span class="border-2"></span> <span class="border-3"></span> <span class="border-4"></span> <span class="border-5"></span> <span class="border-6"></span> <span class="border-7"></span> <span class="border-8"></span> <span class="border-9"></span></div></div>
<div class="nav_overlay">
<img class="nav_overlay_bg" src="{% static "homepage/images/nav_overlay_bg.jpg" %}" />
	<div class="n_Ocontent">
  		 <a href="index.html">Home</a>
    	<a href="about.html">About us</a>
        <a href="case.html">our case</a>
        <a href="contact.html">contact us</a>
    </div>
	<!--end.n_Ocontent-->
    <p class="n_Obottom">&copy; bootbw.com . All rights reserved.</p>
</div>
<!--end.nav_overlay-->
</body>
</html>