<!doctype html>
{% load static %}
<html>
<head>
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" href="{% static "homepage/images/favicon.ico" %}" type="image/x-icon"/>
<title>BootBW</title>
<link rel="stylesheet" href="{% static "homepage/css/style.css" %}" type="text/css">
<script type="text/javascript" src="{% static "homepage/js/jquery.js" %}"></script>
<script type="text/javascript" src="{% static "homepage/js/js.js" %}"></script>
<script type="text/javascript">
		$(document).ready(function(){

		});
	</script>
</head>
<body class="inner">
<div class="auto_hide_header"><em class="menu_toggle"></em>
<!--end.nav-->
<a href="contact.html" class="get_in_touch">get in touch</a>
</div>
<!--end.auto_hide_header-->
<div class="header inner_header"> <img class="header_bg" src="{% static "homepage/images/case.jpg" %}" />
<div class="header_txt"><h1>our case</p>
</div>
</div>
<!--end.header-->
<div class="main_content relative">
<div class="case_list">
		<ul class="case_ul">
        	<li class="case_item"><div class="case_itembox"><span class="case_item_pic_wrap"><img src="{% static "homepage/img/case1.jpg" %}" /></span><strong>Trideer Compression Elbow Sleeve</strong><a href="case_show.html" class="mask"><p><em>+</em><span>CLICK TO VIEW</span></p></a></div></li>
        	<li class="case_item"><div class="case_itembox"><span class="case_item_pic_wrap"><img src="{% static "homepage/img/case2.jpg" %}" /></span><strong>Trideer Compression Elbow Sleeve</strong><a href="case_show.html" class="mask"><p><em>+</em><span>CLICK TO VIEW</span></p></a></div></li>
        	<li class="case_item"><div class="case_itembox"><span class="case_item_pic_wrap"><img src="{% static "homepage/img/case3.jpg" %}" /></span><strong>Trideer Compression Elbow Sleeve</strong><a href="case_show.html" class="mask"><p><em>+</em><span>CLICK TO VIEW</span></p></a></div></li>
        	<li class="case_item"><div class="case_itembox"><span class="case_item_pic_wrap"><img src="{% static "homepage/img/case1.jpg" %}" /></span><strong>Trideer Compression Elbow Sleeve</strong><a href="case_show.html" class="mask"><p><em>+</em><span>CLICK TO VIEW</span></p></a></div></li>
        	<li class="case_item"><div class="case_itembox"><span class="case_item_pic_wrap"><img src="{% static "homepage/img/case2.jpg" %}" /></span><strong>Trideer Compression Elbow Sleeve</strong><a href="case_show.html" class="mask"><p><em>+</em><span>CLICK TO VIEW</span></p></a></div></li>
        	<li class="case_item"><div class="case_itembox"><span class="case_item_pic_wrap"><img src="{% static "homepage/img/case3.jpg" %}" /></span><strong>Trideer Compression Elbow Sleeve</strong><a href="case_show.html" class="mask"><p><em>+</em><span>CLICK TO VIEW</span></p></a></div></li>
        </ul>
</div>
<!--end.case-->

</div>
<!--end.contact_us-->
<div class="footer">
	<div class="block">
    	<div class="half_box left_footer">
        	<ul>
            <li><a href="">about us</a><a href="">our case</a><a href="">contact us</a></li>
            <li>&copy; bootbw.com . All rights reserved.</li>
            </ul>
        </div>
        <div class="half_box right_footer"><a class="ScrollTopBtn" href="javascript:void(0)">Back to top</a></div>
    </div>
</div>
<!--footer-->
<div class="full_border"><div class="container"> <span class="border-1"></span> <span class="border-2"></span> <span class="border-3"></span> <span class="border-4"></span> <span class="border-5"></span> <span class="border-6"></span> <span class="border-7"></span> <span class="border-8"></span> <span class="border-9"></span></div></div>
<div class="nav_overlay">
<img class="nav_overlay_bg" src="{% static "homepage/images/nav_overlay_bg.jpg" %}" />
	<div class="n_Ocontent">
    	<a href="index.html">Home</a>
    	<a href="about.html">About us</a>
        <a href="case.html">our case</a>
        <a href="contact.html">contact us</a>
    </div>
	<!--end.n_Ocontent-->
    <p class="n_Obottom">&copy; bootbw.com . All rights reserved.</p>
</div>
<!--end.nav_overlay-->
</body>
</html>
