<!doctype html>
{% load static %}
<html>
<head>
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" href="{% static "homepage/images/favicon.ico" %}" type="image/x-icon"/>
<title>BootBW</title>
<link rel="stylesheet" href="{% static "homepage/css/style.css" %}" type="text/css">

<link rel="stylesheet" href="{% static "homepage/css/style.css" %}" type="text/css">
<script type="text/javascript" src="{% static "homepage/js/jquery.js" %}"></script>
<script type="text/javascript" src="{% static "homepage/js/js.js" %}"></script>
<script type="text/javascript" src="{% static "homepage/js/easySlider.js" %}"></script>
<script type="text/javascript" src="{% static "homepage/js/background.js" %}"></script>

<script type="text/javascript">
		$(document).ready(function(){
		$.fn.countTo.defaults = {
		from: 0,
		to: 0,
		speed: 1000,
		refreshInterval: 100,
		decimals: 0,
		formatter: formatter,
		onUpdate: null,
		onComplete: null
	};

	function formatter(value, settings) {
		return value.toFixed(settings.decimals);
	}
  $('.count_number').data('countToOptions', {
	formatter: function (value, options) {
	  return value.toFixed(options.decimals).replace(/\B(?=(?:\d{3})+(?!\d))/g, ',');
	}
  });
  function count(options) {
	var $this = $(this);
	options = $.extend({}, options || {}, $this.data('countToOptions') || {});
	$this.countTo(options);
  }

 function a(){
	    var wt = $(window).height();
        var ws = $(window).scrollTop();
		var hhh = $(".c_data").offset().top;
	  if (ws + wt > hhh + 200) {
	    return true
       }
	  }
	   function s() {
              $('.count_number').each(count);
            }
  var b = true;
  $(window).scroll(function () {
  	if(a() && b){b=false;s();}

  });
$("#slider").easySlider({
				continuous: true,
				controlsShow:	true,
				numeric: true,
				speed: 0,
				slideNav: true,
				numericIds:'slider_nav_control',
				slideNavClass:'slider_nav_btn',
				fadeOut: true
			});
	$("#slider2").easySlider({
				continuous: true,
				controlsShow:	true,
				numeric: false
			});
		});
	</script>
</head>
<body>
<div class="auto_hide_header"><em class="menu_toggle"></em>
<!--end.nav-->
<a href="contact.html" class="get_in_touch">get in touch</a>
</div>
<!--end.auto_hide_header-->
<div class="header index_header"> <canvas id="header_canvas"></canvas><img class="header_bg" src="{% static "homepage/images/banner.jpg" %}" />
<div class="header_txt"><strong>BOOTBW</strong><em class="header_line"></em><span>LET'S BUILD THE FUTURE,TOGETHE</span>
<div class="header_arrow"><a class="animateTo" href="javascript:void(0)" go-to="go1">&#xf35d;</a></div>
<!--end.header_arrow--></div>
<ul class="header_nav">
<li><a class="animateTo" href="javascript:void(0)" go-to="go1">01, who we are</a></li>
<li><a class="animateTo" href="javascript:void(0)" go-to="go2">02, what we do</a></li>
<li><a class="animateTo" href="javascript:void(0)" go-to="go3">03, how we work</a></li>
</ul>
</div>
<!--end.header-->
<div class="wwr main_content relative" id="go1">
<h3 class="b_title" data-number="01">
<hr />
who we are</h3>
<div class="block padding">
<div class="wwr_text">As a professional and energetic team, we are always ahead when it comes to new technology.
We love what we do and it shows in our impressive portfolio, which stands as a testimony to our
simple, effective and high quality work. <br>
<br>
We are proud to have worked with a range of clients from a variety of industries, offering
exceptional customer service and flawless functionality.</div>
</div>
</div>
<!--end.wwr-->
<div class="wwd relative" id="go2">
<h3 class="b_title" data-number="02">
<hr />
what we do</h3>
<div class="wwd_slider">
<div class="wwd_slider_bg"></div>
<a class="wwd_img"><img class="wwd_pic" src="{% static "homepage/img/1.png" %}" /><img class="wwd_pic" src="{% static "homepage/img/2.png" %}" /><img class="wwd_pic" src="{% static "homepage/img/3.png" %}" /></a>
<!--end.wwd_slider_bg-->
<div class="wwd_slider_container" id="slider">
<ul>
<li>
<div class="wwd_slider_box">
<div class="wwd_slider_warp">
<div class="wwd_slider_content">
<p>We partner with clients to identify and seize opportunities for growth. We work with clients across almost every area and industry - from startups to enterprise. They all have one thing in common: they want to build the next big thing.</p>
<a class="wsc_btn btn-5" href=""><span>request a free consultation</span></a> </div>
<!--end.wwd_slider_content-->
</div>
<!--end.wwd_slider_warp-->
</div>
</li>
<li>
<div class="wwd_slider_box">
<div class="wwd_slider_warp">
<div class="wwd_slider_content">
<p>inbound marketing methodology and state of the art technology to deliver
strong & sustainable ROI. <br>
<br>
Our company that offers truly professional, creative, end-to-end web
development services, delivered by a friendly team who provide unrivalled
support. <br>
<br>
Our custom web designs are created by a professional in-house team who
are passionate about delivering the highest quality works. We come highly
recommended; not just for our expertise, reliability and amazing work,
but for the friendly and approachable way we do things.</p>
<a class="wsc_btn btn-5" href=""><span>request a free consultation</span></a> </div>
<!--end.wwd_slider_content-->
</div>
<!--end.wwd_slider_warp-->
</div>
</li>
<li>
<div class="wwd_slider_box">
<div class="wwd_slider_warp">
<div class="wwd_slider_content">
<p>inbound marketing methodology and state of the art technology to deliver
strong & sustainable ROI. <br>
<br>
Our company that offers truly professional, creative, end-to-end web
development services, delivered by a friendly team who provide unrivalled
support. <br>
<br>
Our custom web designs are created
but for the friendly and approachable way we do things.</p>
<a class="wsc_btn btn-5" href=""><span>request a free consultation</span></a> </div>
<!--end.wwd_slider_content-->
</div>
<!--end.wwd_slider_warp-->
</div>
</li>
</ul>
</div>
<!--end.wwd_slider_container-->
</div>
<!--end.wwd_slider-->
<div class="wwd_slider_button">
<h4 class="slider_nav_btn active">website design</h4>
<h4 class="slider_nav_btn">logo design</h4>
<h4 class="slider_nav_btn">packing design</h4>
</div>
<!--end.wwd_slider_button-->
</div>
<!--end.wwd-->
<div class="c_data">
<div class="block padding">
<ul>
<li><em class="sp_ico sp_lc"></em><strong><small class="count_number" data-to="283157" data-speed="1500">283157</small></strong><span>LINES OF CODE</span></li>
<li><em class="sp_ico sp_cc"></em><strong><small class="count_number" data-to="1356" data-speed="1500">1356</small></strong><span>CUPS OF COFFEE</span></li>
<li><em class="sp_ico sp_cs"></em><strong><small class="count_number" data-to="100" data-speed="1500">100</small>%</strong><span>CUSTOMER SATISFACTION</span></li>
</ul>
</div>
</div>
<!--end.c_data-->
<div class="hww center_box relative" id="go3">
<h3 class="b_title" data-number="03">
<strong>how we work</strong>
<hr /></h3>
<div class="tree_wrapper">
<div class="tree_node">
<div class="heading"> <span class="toggle"></span> <span class="label">Collection requirements</span></div>
<div class="tree_text hash1">
<h3>Let's Find Your Way</h3>
<p>We’ve got you covered. Free websites, easy drag and drop, designer-made
templates, beautiful galleries,mobile optimized, domains, huge image
collection, secure hosting, SEO, 24/7 full support and more -all wrapped up
in one free website builder.</p>
</div>
</div>
<div class="tree_node">
<div class="heading"> <span class="toggle"></span> <span class="label">Collection requirements</span></div>
<div class="tree_text hash2">
<h3>Let's Find Your Way</h3>
<p>We’ve got you covered. Free websites, easy drag and drop, designer-made
templates, beautiful galleries,mobile optimized, domains, huge image
collection, secure hosting, SEO, 24/7 full support and more -all wrapped up
in one free website builder.</p>
</div>
</div>
<div class="tree_node">
<div class="heading"> <span class="toggle"></span> <span class="label">Collection requirements</span></div>
<div class="tree_text hash3">
<h3>Let's Find Your Way</h3>
<p>We’ve got you covered. Free websites, easy drag and drop, designer-made
templates, beautiful galleries,mobile optimized, domains, huge image
collection, secure hosting, SEO, 24/7 full support and more -all wrapped up
in one free website builder.</p>
</div>
</div>
<div class="tree_node">
<div class="heading"> <span class="toggle"></span> <span class="label">Collection requirements</span></div>
<div class="tree_text hash4">
<h3>Let's Find Your Way</h3>
<p>We’ve got you covered. Free websites, easy drag and drop, designer-made
templates, beautiful galleries,mobile optimized, domains, huge image
collection, secure hosting, SEO, 24/7 full support and more -all wrapped up
in one free website builder.</p>
</div>
</div>
<div class="tree_node">
<div class="heading"> <span class="toggle"></span> <span class="label">Collection requirements</span></div>
<div class="tree_text hash5">
<h3>Let's Find Your Way</h3>
<p>We’ve got you covered. Free websites, easy drag and drop, designer-made
templates, beautiful galleries,mobile optimized, domains, huge image
collection, secure hosting, SEO, 24/7 full support and more -all wrapped up
in one free website builder.</p>
</div>
</div>
<div class="tree_node">
<div class="heading"> <span class="toggle"></span> <span class="label">Collection requirements</span></div>
<div class="tree_text hash6">
<h3>Let's Find Your Way</h3>
<p>We’ve got you covered. Free websites, easy drag and drop, designer-made
templates, beautiful galleries,mobile optimized, domains, huge image
collection, secure hosting, SEO, 24/7 full support and more -all wrapped up
in one free website builder.</p>
</div>
</div>
</div>
<!--end.tree_wrapper-->
</div>
<!--end.hww-->
<div class="case padding">
	<div id="slider2" class="case_slider">
    	<ul>
        	<li><a href=""><div class="cs_img"><img src="{% static "homepage/img/01.png" %}" /></div><!--end.cs_img--><div class="cs_text"><p>Reed Graduations commissioned WebAlive to build a custom e commerce
website that would bring together their numerous products and services
in one platform and meet their unique needs. WebAlive has been able
to provide them with a robust system that covered their full
requirements.</p><span>DEREK WANG,WEB DESIGNER</span></div></a></li>
        	<li><a href=""><div class="cs_img"><img src="{% static "homepage/img/01.png" %}" /></div><!--end.cs_img--><div class="cs_text"><p>Reed Graduations commissioned WebAlive to build a custom e commerce
website that would bring together their numerous products and services
in one platform and meet their unique needs. WebAlive has been able
to provide them with a robust system that covered their full
requirements.</p><span>DEREK WANG,WEB DESIGNER</span></div></a></li>
        	<li><a href=""><div class="cs_img"><img src="{% static "homepage/img/01.png" %}" /></div><!--end.cs_img--><div class="cs_text"><p>Reed Graduations commissioned WebAlive to build a custom e commerce
website that would bring together their numerous products and services
in one platform and meet their unique needs. WebAlive has been able
to provide them with a robust system that covered their full
requirements.</p><span>DEREK WANG,WEB DESIGNER</span></div></a></li>
        </ul>
    </div>
</div>
<!--end.case-->
<div class="footer">
	<div class="block">
    	<div class="half_box left_footer">
        	<ul>
             <li><a href="about.html">about us</a><a href="case.html">our case</a><a href="contact.html">contact us</a></li>
            <li>&copy; bootbw.com . All rights reserved.</li>
            </ul>
        </div>
        <div class="half_box right_footer"><a class="ScrollTopBtn" href="javascript:void(0)">Back to top</a></div>
    </div>
</div>
<!--footer-->
<div class="full_border"><div class="container"> <span class="border-1"></span> <span class="border-2"></span> <span class="border-3"></span> <span class="border-4"></span> <span class="border-5"></span> <span class="border-6"></span> <span class="border-7"></span> <span class="border-8"></span> <span class="border-9"></span></div></div>
<div class="nav_overlay">
<img class="nav_overlay_bg" src="{% static "homepage/images/nav_overlay_bg.jpg" %}" />
	<div class="n_Ocontent">
    	<a href="index.html">Home</a>
    	<a href="about.html">About us</a>
        <a href="case.html">our case</a>
        <a href="contact.html">contact us</a>
    </div>
	<!--end.n_Ocontent-->
    <p class="n_Obottom">&copy; bootbw.com . All rights reserved.</p>
</div>
<!--end.nav_overlay-->
</body>
</html>
