@charset "utf-8";
@import url(animation.css);
html, body, div, ul, li, p, a, h1, h2, h3, h4, h5, h6, input, textarea, form, cite { box-sizing: border-box; }
html:after, html:before, body:after, body:before, div:after, div:before, ul:after, ul:before, li:after, li:before, p:after, p:before, a:after, a:before, h1:after, h1:before, h2:after, h2:before, h3:after, h3:before, h4:after, h4:before, h5:after, h5:before, span:after, span:before, em:after, em:before, form:after, form:before, input:after, input:before, cite:after, cite:before { box-sizing: border-box; content: ""; }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, table, tr, th, td, address, img, a { margin: 0; padding: 0; }
table, tr, th, td { border-collapse: collapse; border-spacing: 0; font-size: inherit; }
fieldset, img { border: 0; }
address, caption, cite, code, dfn, em, strong, th, var { font-style: normal; font-weight: normal; }
li { list-style: none; }
caption, th { text-align: left; }
h1, h2, h3, h4, h5, h6 { font-size: 1rem; font-weight: normal; }
q:before, q:after { content: ''; }
abbr, acronym { border: 0; font-variant: normal; }
sup { vertical-align: text-top; }
sub { vertical-align: text-bottom; }
input, textarea, select { font-family: inherit; font-size: inherit; font-weight: inherit; }
@font-face { font-family: 'Bebas-Neue'; src: url("../fonts/BebasNeueBook.eot"); src: url("../fonts/BebasNeueBook.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueBook.woff") format("woff"), url("../fonts/BebasNeueBook.ttf") format("truetype"); font-weight: normal; font-style: normal }
@font-face { font-family: 'Bebas-Neue-Bold'; src: url("../fonts/BebasNeueBold.eot"); src: url("../fonts/BebasNeueBold.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueBold.woff") format("woff"), url("../fonts/BebasNeueBold.ttf") format("truetype"); font-weight: normal; font-style: normal }
@font-face { font-family: 'icon'; src: url("../fonts/ionicons.eot"); src: url("../fonts/ionicons.eot?#iefix") format("embedded-opentype"), url("../fonts/ionicons.woff") format("woff"), url("../fonts/ionicons.ttf") format("truetype"); font-weight: normal; font-style: normal }
body { line-height: 1.65; font-size: 16px; font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif; color: #000;}
pre, code, kbd, samp, tt { font-family: monospace; line-height: 100%; }
em { font-style: italic; }
img { max-width: 100%; }
strong { font-weight: bold; }
a { color: #fff; text-decoration: none; outline: none; }
/*end reset*/
a, .header_arrow_border, .get_in_touch, .arrow_line, .nav_overlay, .case_item_pic_wrap img { transition: all 300ms ease 0s; -webkit-transition: all 300ms ease 0s; -moz-transition: all 300ms ease 0s; -ms-transition: all 300ms ease 0s; -o-transition: all 300ms ease 0s; }
.mask em, .mask span, .bs_img img, .bs_info, .btn { -webkit-transition: all 0.3s 0.3s; -moz-transition: all 0.3s 0.3s; -o-transition: all 0.3s 0.3s; transition: all 0.3s 0.3s; }
.tree_text, .contact_form, .wd_item { opacity: 0; -webkit-transform: translate3d(0, 20px, 0); transform: translate3d(0, 20px, 0); -webkit-transition: opacity 1.2s ease, -webkit-transform 1.2s ease; transition: opacity 1.2s ease, -webkit-transform 1.2s ease; transition: opacity 1.2s ease, transform 1.2s ease; transition: opacity 1.2s ease, transform 1.2s ease, -webkit-transform 1.2s ease }
.tree_text.animated_top, .contact_form.animated_top, .wd_item.animated_top { opacity: 1; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0) }
.block { position: relative; width: 90%; margin: 0 auto; overflow: hidden; }
.half_box { width: 50%; }
.left { float: left; }
.right { float: right; }
.padding { padding: 8rem 0; }
a:hover, .f_blue, .header_nav a:hover, .wwd_slider_button h4:hover, body span.prevBtn a:hover, body span.nextBtn a:hover { color: #34cdff; }
.sp_ico { background-image: url(../images/sp.png); background-repeat: no-repeat; }
.txt { width: 96%; padding: 10px 2%; border: 1px solid #a9acbb; background: #fff; }
.header, .wwd_slider_button h4, .wsc_btn, .b_title { text-transform: uppercase; }
.header { font-weight: bold; }
.header_nav a { color: #fff; }
.header_arrow, .btn-5:before, .prevBtn, .nextBtn, .get_in_touch, .right_footer, .contact_qa_title:after, .divselect cite:after { font-family: "icon"; }
.relative { position: relative; }
.prevBtn, .nextBtn { position: absolute; z-index: 6; }
.prevBtn a, .nextBtn a { color: #fff; font-size: 2rem; }
.prevBtn a:before { content: "\f2ca"; }
.nextBtn a:before { content: "\f30f"; }
.prevBtn, .nextBtn { top: 45%; }
.prevBtn { left: 5rem; }
.nextBtn { right: 5rem; }
.prevBtn a, .nextBtn a { display: block; border-radius: 50%; width: 3rem; height: 3rem; text-align: center; border: 1px solid transparent; }
.prevBtn a:hover, .nextBtn a:hover { border-color: #34cdff; }
.header, .wwr, .hww, .case { width: 100%; }
.b_title { position: absolute; font-weight: bold; top: 10rem; left: 7rem; text-align: left; z-index: 10; font-family: "Bebas-Neue"; font-size: 1.5rem; }
.b_title:before { color: #ebebeb; font-weight: bold; content: attr(data-number); font-size: 10rem; position: absolute; top: -1rem; left: -2rem; transform: translate3d(-50%, -50%, 0px); z-index: -1; font-family: "Bebas-Neue-Bold"; }
.b_title hr { position: absolute; width: 1.2rem; height: 1px; display: inline-block; left: -2rem; top: 0.2rem; border: 0; background-color: #000; }
.center_box .b_title { position: relative; width: 100%; left: 0; top: 0; text-align: center; }
.center_box .b_title:before { position: relative; width: 100%; left: 0; top: 2rem; text-align: center; }
.center_box .b_title strong { position: relative; display: block; top: -5rem; }
.center_box .b_title hr { position: relative; display: block; top: auto; left: auto; bottom: 3rem; margin: 0 auto; }
.center_box .b_title span { display: block; margin-top: -2rem; font-size: 1.2rem; font-weight: normal; }
body .a-fadeinL, body .a-fadeinT, body .a-fadeinB { opacity: 1; }
.header_txt span, .contact_qa_title { font-family: "Bebas-Neue"; }
/**/
.auto_hide_header { width: 100%; height: 70px; position: fixed; z-index: 1000; -webkit-transform: translateZ(0); transform: translateZ(0); will-change: transform; -webkit-transition: -webkit-transform .5s; transition: -webkit-transform .5s; transition: transform .5s; transition: transform .5s, -webkit-transform .5s; }
.auto_hide_header.header_nav_bg { background-color: #212121; }
.auto_hide_header.is-hidden { -webkit-transform: translateY(-100%); -ms-transform: translateY(-100%); transform: translateY(-100%); }
.index_header { min-height: 40rem; height: 100vh; }
.header { position: relative; z-index: 5; }
#header_canvas {position:absolute;top: 0;left: 0;width:100%;height:100%;z-index:1;opacity: 0.2;}
.header_bg { background-size: cover; bottom: 0; object-fit: cover; height: 100%; left: 0; opacity: 1; position: absolute; right: 0; top: 0; width: 100%; }
.header_txt { position: relative; max-width: 1140px; top: 30%; margin: 0 auto; text-align: center; color: #fff; }
.header_txt strong { display: block; margin-left: -10rem; font-size: 10rem; font-family: "Gibson Bold", Helvetica, Arial, serif;/*margin:0 auto;border-right:.1em solid;animation:typing 3s steps(30,end),-blink-caret .5s step-end infinite alternate;white-space:nowrap;overflow:hidden;*/ }
.header_txt span { margin-left: 10rem; font-size: 3rem; color: #34cdff; }
.header_line { display: block; height: 12px; margin-top: -3rem; position: relative; z-index: 1; opacity: 1; -webkit-transform: scale(1); transform: scale(1); -webkit-transition: all 1.0s .6s ease; transition: all 1.0s .6s ease }
.header_line:before, .header_line:after { display: block; content: ''; position: absolute; left: 15rem; top: 0; width: 75%; max-width: 50rem; height: 100%; -webkit-transform: skew(-30deg); transform: skew(-30deg); background-color: #34cdff; -webkit-transition: all 1.2s 1.6s ease; transition: all 1.2s 1.6s ease }
.menu_toggle { display: block; position: absolute; cursor: pointer; margin: 26px 0 0 2%; width: 24px; height: 18px; background: -webkit-linear-gradient(90deg, rgba(255,255,255,0), rgba(255,255,255,0) 7px, #fff 7px, #fff 11px, rgba(255,255,255,0) 11px, rgba(255,255,255,0) 18px); background: linear-gradient(0deg, rgba(255,255,255,0), rgba(255,255,255,0) 7px, #fff 7px, #fff 11px, rgba(255,255,255,0) 11px, rgba(255,255,255,0) 18px); font-size: 0; text-indent: -9999px }
.menu_toggle:after, .menu_toggle:before { display: block; position: absolute; left: 0; width: 100%; height: 4px; background-color: #fff; content: "" }
.menu_toggle:before { top: 0; -webkit-transform-origin: bottom left; -ms-transform-origin: bottom left; transform-origin: bottom left }
.menu_toggle:after { bottom: 0; -webkit-transform-origin: top left; -ms-transform-origin: top left; transform-origin: top left }
.menu_toggle, .menu_toggle:after, .menu_toggle:before { -webkit-transition: all .5s; transition: all .5s }
.menu_toggle.active { -webkit-transform: rotate(360deg); -ms-transform: rotate(360deg); transform: rotate(360deg) }
.menu_toggle.active:before { width: 75%; -webkit-transform: translateY(7px) rotate(-45deg); -ms-transform: translateY(7px) rotate(-45deg); transform: translateY(7px) rotate(-45deg) }
.menu_toggle.active:after { width: 75%; -webkit-transform: translateY(-7px) rotate(45deg); -ms-transform: translateY(-7px) rotate(45deg); transform: translateY(-7px) rotate(45deg) }
.get_in_touch { display: block; position: absolute; top: 18px; right: 2%; padding: 0.5rem 1rem; color: #000; font-size: 0.8rem; text-transform: uppercase; background: #fff; }
.get_in_touch:before { margin-right: 0.5rem; content: "\f2eb"; }
.get_in_touch:hover { color: #000; background: #34cdff; }
.header_nav { position: absolute; width: 50%; margin-left: -25%; left: 50%; bottom: 50px; text-align: center; display: flex; flex-direction: row; justify-content: space-between; }
.header_nav li { display: inline-block; }
.header_nav li a { display: block; }
.header_arrow { position: relative; text-align: center; margin: 10% auto 0; }
.header_arrow a { display: block; width: 5rem; height: 5rem; margin: 0 auto; border-radius: 50%; border: 2px solid transparent; font-size: 3rem; }
.header_arrow a:hover { border: 2px solid #34cdff; }
.arrow_line { background-color: #fff; display: block; margin: 8px 0; height: 2px; width: 20px; }
.arrow_line:nth-child(1) { width: 8px; transform: translateY(7px) rotate(45deg); }
.arrow_line:nth-child(2) { margin-left: -12px }
.arrow_line:nth-child(3) { width: 8px; transform: translateY(-7px) rotate(-45deg); }
.header_arrow a:hover .arrow_line { background-color: #34cdff; }
.header_arrow a:hover .header_arrow_border { opacity: 1; }
/**/
.nav_overlay { background-color: #1e160a; color: #000; z-index: 400; display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; -ms-flex-pack: center; justify-content: center; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; will-change: transform; border-bottom: 15px solid #000; opacity: 0; visibility: hidden; position: fixed; top: 0; left: 0; bottom: 0; right: 0; bottom: -15px }
.n_Ocontent { }
.n_Ocontent a { padding: 1rem 0 1rem 10rem; text-decoration: none; font-size: 2.5rem; text-transform: uppercase; color: #ebebeb; transition: none; position: relative; display: block; }
.n_Ocontent a:hover { background: rgba(0,0,0,0.6); padding-left: 12rem; }
.nav_overlay_bg { position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-size: cover; opacity: .3; transform: translate3d(0, 0, 0); width: 100%; height: 100%; object-fit: cover; font-family: 'object-fit: cover;' }
.n_Obottom { position: absolute; left: 8%; color: #ccc; bottom: 5rem; }
.full_border { position: fixed; top: 0; right: 0; bottom: 0; left: 0; pointer-events: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none }
.full_border .container { position: relative; height: 100%; }
.full_border span { position: absolute; width: 1px; height: 100%; top: 0; background: #f5f5f5; }
.full_border span:after { content: ''; position: absolute; left: 0; top: -50px; width: 1px; height: 50vh; background: -webkit-linear-gradient(#f5f5f5, #ffffff, #f5f5f5); background: linear-gradient(#f5f5f5, #ffffff, #f5f5f5) }
.full_border .border-1 { left: 0 }
.full_border .border-1:after { -webkit-animation: border-animation 23s 3s ease infinite; animation: border-animation 23s 3s ease infinite }
.full_border .border-2 { left: 12.5% }
.full_border .border-2:after { -webkit-animation: border-animation 22s ease-in reverse infinite; animation: border-animation 22s ease-in reverse infinite }
.full_border .border-3 { left: 25% }
.full_border .border-3:after { -webkit-animation: border-animation 21s 6s ease infinite; animation: border-animation 21s 6s ease infinite }
.full_border .border-4 { left: 37.5% }
.full_border .border-4:after { -webkit-animation: border-animation 26s ease-in reverse infinite; animation: border-animation 26s ease-in reverse infinite }
.full_border .border-5 { left: 50% }
.full_border .border-5:after { -webkit-animation: border-animation 21s 4s ease infinite; animation: border-animation 21s 4s ease infinite }
.full_border .border-6 { left: 62.5% }
.full_border .border-6:after { -webkit-animation: border-animation 27s 1s ease-in reverse infinite; animation: border-animation 27s 1s ease-in reverse infinite }
.full_border .border-7 { left: 75% }
.full_border .border-7:after { -webkit-animation: border-animation 28s 3s ease infinite; animation: border-animation 28s 3s ease infinite }
.full_border .border-8 { left: 87.5% }
.full_border .border-8:after { -webkit-animation: border-animation 24s 2s ease-in reverse infinite; animation: border-animation 24s 2s ease-in reverse infinite }
.full_border .border-9 { right: 0 }
.full_border .border-9:after { -webkit-animation: border-animation 24.5s ease infinite; animation: border-animation 24.5s ease infinite }
.form_p { padding: 1rem 0; }
.form_label { display: block; padding-bottom: 0.5rem; }
.form_txt, .form_textarea { width: 100%; padding: 1rem; font-size: 1.25rem; border: 2px solid #ebebeb; transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1) 0s; }
.form_textarea { min-height: 10rem; }
.form_txt:focus, .form_txt:hover, .form_textarea:focus, .form_textarea:hover, .divselect cite:hover, .divselect cite:focus { border-color: #34cdff; }
.form_p .btn, .captcha_box { width: 100%; }
.sub_btn { width: 100%; display: inline-block; padding: 1rem 2rem; font-size: 1.25rem; border: 0; cursor: pointer; color: #fff; background: #000; }
.sub_btn:hover { background: #34cdff; }
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {color:#ccc}
input::-moz-placeholder, textarea::-moz-placeholder {color:#ccc}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {color:#ccc}
input:-moz-placeholder, textarea:-moz-placeholder {color:#ccc}
.divselect { position: relative; width: 100%; font-size: 1.25rem; background: #fff url(../images/system/arrow.png) right center no-repeat; }
.divselect cite { width: 100%; cursor: pointer; display: block; border: 2px solid #ebebeb; padding: 1rem; color: #ccc; transition-duration: 0.2s; }
.divselect cite.checked { color: #000; }
.divselect cite:after { font-size: 1.4rem; position: absolute; right: 1rem; content: "\f3d0"; color: #ccc; transition: all 0.15s ease-in-out 0s; }
.divselect cite.active:after { content: "\f3d8" }
.divselect ul { left: 0; background-color: #fff; border: 2px solid #ebebeb; border-top: 0; display: none; position: absolute; width: 100%; max-height: 300px; overflow-y: auto; z-index: 2; transition-duration: 0.2s; }
.divselect ul li a { display: inline; float: left; width: 100%; color: #ccc; text-indent: 8px; padding: 1rem; }
.divselect ul li a:hover, .divselect ul li.active a { color: #000; background: #f5f5f5; }
.our_team .b_title:before { color: #333; }
.our_team .b_title hr { background-color: #fff; }
.our_team .b_title span, .our_team .b_title strong { color: #fff; }
/**/
.wwr { border-bottom: 1px solid #000; }
.wwr_text { width: 40rem; margin: 0 auto; }
.wwd .b_title { color: #fff; }
.wwd .b_title hr { background-color: #fff; }
.wwd .b_title:before { color: #fff; opacity: 0.3; }
.wwd_slider { position: relative; width: 100%; min-height: 50rem; height: 92vh; z-index: 5; }
.wwd_slider .prevBtn a, .wwd_slider .nextBtn a { color: #000; }
.wwd_slider_bg { background-color: #fff; bottom: 0; min-height: 50rem; height: 92vh; left: 0; position: absolute; right: 0; top: 0; }
.wwd_slider_bg:before { bottom: 0; content: " "; left: 0; position: absolute; right: 50%; top: 0; transition: all 1s cubic-bezier(0.25, 0.8, 0.25, 1) 0s; background-image: linear-gradient(122deg, #34cdff 0px, #007ea7 43%, #0f5369 100%); }
.wwd_slider_container { position: relative; width: 100%; overflow: hidden; }
.wwd_slider_container li { min-height: 50rem; height: 92vh; }
.wwd_img { width: 50%; position: absolute; display: flex; justify-content: center; transform: translate3d(-7%, 16%, 0px); z-index: 6; }
.wwd_img:hover { transform: translate3d(-5%, 16%, 0px) scale(0.95); }
.wwd_pic { display: none; width: auto; position: relative; transform: translate3d(5%, 0px, 0px); opacity : 0 }
.wwd_pic:nth-child(1) { display: block; opacity : 1 }
.wwd_slider_warp { position: relative; width: 50%; float: right; z-index: 5; }
.wwd_slider .prevBtn { left: 53%; top: auto; bottom: 5%; }
.wwd_slider .nextBtn { right: 3%; top: auto; bottom: 5%; }
.wwd_slider_button { position: absolute; width: 35%; padding: 6rem 0 0; top: 0; right: 0; display: flex; flex-direction: row; justify-content: space-between; text-align: center; z-index: 5; }
.wwd_slider_button h4 { display: inline-block; padding: 1rem; color: #d8d8d8; cursor: pointer; }
.wwd_slider_button h4.active { color: #fff; background: #000; }
.wwd_slider_content { position: relative; min-width: 50%; padding: 15rem 10rem 0; text-align: left; }
.wsc_btn { display: inline-block; position: relative; margin-top: 3rem; padding: 1rem 2rem; background: #000; }
.wsc_btn:hover { color: #fff; background: #34cdff; }
.btn-5:before, .btn-5:after { position: relative; content: "\f11c"; background: #34cdff; padding: 1rem 2rem; font-size: 1.8rem; line-height: 1.0; text-align: center; }
.btn-5:after { position: absolute; transition: all 0.3s ease 0s; z-index: -1; }
.btn-5 { overflow: hidden; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; backface-visibility: hidden; transition: all 0.3s ease 0s; }
.btn-5:active { background: #9053a9; top: 2px; }
.btn-5 span { display: inline-block; width: 100%; height: 100%; -webkit-transition: all 0.3s; -webkit-backface-visibility: hidden; -moz-transition: all 0.3s; -moz-backface-visibility: hidden; transition: all 0.3s; backface-visibility: hidden; }
.btn-5:before { position: absolute; height: 100%; width: 100%; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; }
.btn-5:hover span { -webkit-transform: translateX(200%); -moz-transform: translateX(200%); -ms-transform: translateX(200%); transform: translateX(200%); }
.btn-5:before { left: -100%; top: 0; }
.btn-5:hover:before { left: 0; }
.btn-5:after { content: ""; position: absolute; transition: all 0.3s ease 0s; z-index: -1; }
.c_data { position: relative; color: #fff; background: url(../images/c_data_bg.jpg) center center no-repeat; background-size: cover; z-index: 3; }
.c_data ul { display: flex; flex-direction: row; justify-content: space-between; }
.c_data li { display: inline-block; text-align: center; }
.c_data li strong { display: block; font-size: 3rem; }
.c_data li span { display: block; }
.c_data li .sp_ico { display: block; width: 35px; height: 35px; margin: 0 auto; }
.sp_lc { background-position: 0 0; }
.sp_cc { background-position: 0 -35px; }
.sp_cs { background-position: 0 -70px; }
.hww { }
.hww .b_title { position: relative; width: 100%; left: 0; top: 0; text-align: center; }
.hww .b_title:before { position: relative; width: 100%; left: 0; top: 2rem; text-align: center; }
.hww .b_title span { position: relative; display: block; top: -5rem; }
.hww .b_title hr { position: relative; display: block; top: auto; left: auto; bottom: 3rem; margin: 0 auto; }
.tree_nodes { text-align: center; padding: 50px 0 }
.tree_wrapper { position: relative; max-width: 1400px; margin: 3rem auto 10rem; }
.tree_node { position: relative; width: 48%; margin: 0 auto 30px 0; text-align: left }
.tree_node .heading { position: relative; z-index: 1; display: -webkit-box; display: -webkit-flex; display: flex; -webkit-box-align: center; -webkit-align-items: center; align-items: center }
.tree_node .heading .toggle { display: inline-block; position: relative; width: 35px; height: 35px; border: 1px solid #c1c1c1; cursor: pointer; -webkit-transition: all .4s ease; transition: all .4s ease }
.tree_node .heading .toggle:before, .tree_node .heading .toggle:after { content: ''; position: absolute; background-color: #c1c1c1; -webkit-transition: all .4s ease; transition: all .4s ease }
.tree_node .heading .toggle:before { left: 12px; top: 16px; width: 10px; height: 2px }
.tree_node .heading .toggle:after { left: 16px; top: 12px; width: 2px; height: 10px }
.tree_node .heading .toggle:hover { border-color: #34cdff }
.tree_node .heading .toggle:hover:before, .tree_node .heading .toggle:hover:after { background-color: #34cdff }
.tree_node .heading .label { display: inline-block; letter-spacing: 4px; font-size: 1rem; text-align: left; margin-left: 1rem; }
.tree_text { position: relative; z-index: 1; margin-top: 1rem; padding-left: 48px; overflow: hidden; }
.tree_text h3 { font-size: 2rem; color: #34cdff; }
.tree_text p { margin-top: 1.5rem; font-size: 1rem; }
.tree_text:after { content: ''; position: absolute; left: 0; bottom: -6px; width: 100%; height: 5rem; background: linear-gradient(to bottom, rgba(255,255,255,0) 0, #fff 80%, rgba(255,255,255,0) 100%); -webkit-transition: all .4s ease; transition: all .4s ease }
.tree_node_line { position: absolute; left: 35px; top: 35px; height: 1px; background: -webkit-linear-gradient(#e5e5e5, #ffffff, #e5e5e5); background: linear-gradient(#e5e5e5, #ffffff, #e5e5e5) -webkit-transform-origin: 0 0;
transform-origin: 0 0 }
.tree_node:nth-child(2n) { margin: 0 0 30px auto }
.tree_node:nth-child(2n) .tree_node_line { left: 0 }
.tree_node.expanded .heading .toggle:after { opacity: 0; -webkit-transform: scale(0); transform: scale(0) }
.tree_node.expanded .tree_text:after { opacity: 0 }
.case { position: relative; width: 100%; border-bottom: 1rem solid #34cdff; background: #212121; z-index: 5; overflow: hidden; }
.case_slider li { min-height: 300px; }
.cs_img { width: 35%; float: left; margin-left: 10%; }
.cs_text { width: 35%; float: right; color: #fff; margin-right: 10%; }
.cs_text { padding: 2rem 0; }
.cs_text p { position: relative; display: block; padding: 3rem 0; }
.cs_text p:before { position: absolute; top: -3rem; left: -1rem; content: '"'; font-size: 8rem; color: #000; }
.cs_text span { display: block; font-size: 1.1rem; color: #a1a0a0; text-transform: uppercase; }
.case_slider a:hover .cs_text p { color: #ccc; }
.footer { position: relative; width: 100%; padding: 3rem 0; background: #212121; z-index: 5; overflow: hidden; }
.left_footer { float: left; }
.left_footer li { width: 100%; padding: 0 0 1rem; color: #a0a0a0; }
.left_footer li a { margin-right: 3rem; }
.right_footer { float: right; text-align: right; }
.right_footer a:after { margin-left: 0.8rem; content: "\f366"; }
/*inner_page*/
.inner_header { min-height: 46rem; }
.inner_header .header_txt { top: 12rem; }
.inner_header .header_txt h1 { display: block; font-size: 4rem; font-weight: bold; font-family: "Gibson Bold", Helvetica, Arial, serif; text-transform: uppercase; }
.inner_header .header_txt h1:after { display: block; width: 30rem; height: 5px; content: ""; margin: 1.5rem auto; background: #34cdff; }
.contact_us { z-index: 6; }
.contact_us .b_title { color: #fff; }
.contact_us .b_title hr { background: #fff; }
.contact_us .b_title:before { color: #333; }
.contact_us:before { position: absolute; top: 0; left: 0; width: 100%; height: 40rem; content: ""; background: #212121; }
.up_loader { display: inline-block; float: left; width: 20rem; padding: 1rem 0; margin-right: 3rem; text-align: center; color: #fff; cursor: pointer; border: 1px solid #000; background: #000; }
.up_text { display: inline-block; width: 20rem; padding: 1rem; border: 0; }
.shadow_box { position: relative; padding: 5rem; background: #fff; box-shadow: 0 0 50px rgba(0, 0, 0, 0.1); z-index: 10; overflow: hidden; }
.contact_qa { position: relative; max-width: 1400px; margin: 10rem auto; background: #fff; overflow: hidden; z-index: 10; }
.contact_qa .half_box { width: 48%; float: left; }
.contact_qa .half_box:nth-child(2n) { float: right; }
.contact_qa_list { width: 100%; padding: 1rem 0; float: left; border-bottom: 1px solid #e1e1e1; }
.contact_qa_title { position: relative; font-weight: bold; font-size: 1.8rem; cursor: pointer; }
.contact_qa_title.active { color: #34cdff; }
.contact_qa_title:after { position: absolute; right: 1rem; margin-right: 1rem; content: "\f3d0"; }
.contact_qa_title.active:after { content: "\f3d8"; }
.contact_qa_content { display: none; padding: 1rem; color: #666; }
.contact_qa_content h6 { font-size: 1.2rem; color: #000; }
.contact_qa_content p { padding: 1rem 0 2rem; line-height: 1.4; }
.contact_form { position: relative; max-width: 1400px; margin: 5rem auto 10rem; }
.wd { position: relative; max-width: 1400px; margin: 0 auto; padding: 20rem 0 5rem; }
.wd_title { position: relative; float: right; text-align: right; font-size: 3rem; font-weight: bold; line-height: 1.2; margin-bottom: 5rem; text-transform: uppercase; z-index: 5; }
.wd_wrap { position: relative; width: 100%; }

@media only screen and (min-width: 700px) {
.wd_item { position: relative; display: flex; width: 100%; height: 43rem; z-index: 200; align-items: center; margin-top: -8rem; flex-direction: row-reverse; }
.wd_item:nth-child(2n) { flex-direction: row; }
.wd_box { position: relative; width: 50%; height: 100%; display: flex; align-items: center }
.wd_box_left { padding-right: 2.5rem; }
.wd_box_right { padding-left: 2.5rem; }
.wd_text { }
.wd_text h6 { display: block; width: 100%; text-transform: uppercase; margin-bottom: 1.5rem; font-size: 1.5rem; font-weight: bold; }
.wd_pic { position: relative; width: 100%; height: 100%; }
.wd_img { background-size: cover; object-fit: cover; font-family: 'object-fit: cover;'; height: 100%; opacity: 1; position: absolute; right: 0; top: 0; bottom: 0; left: 0; width: 100%; transform: translate3d(0, 0, 0); }
}
.our_team { position: relative; width: 100%; border-bottom: 1rem solid #34cdff; z-index: 6; padding: 0 0 5rem; background: #212121; }
.team_box { width: 100%; }
.team_box ul { position: relative; width: 100%; display: flex; justify-content: space-between; }
.team_item { display: flex; position: relative; width: 30%; height: 30rem; cursor: pointer; color: #fff; }
.team_flip { width: 100%; height: 100%; }
.team_item h4 { width: 100%; margin-bottom: 3rem; font-size: 1.5rem; text-align: center; }
.team_item p { padding: 0 5rem; color: #666; }
.flip_out, .flip_in { display: flex; align-items: center; width: 100%; height: 100%; background: #111; position: absolute; transition: transform 0.4s; transform-style: preserve-3d; -webkit-transform-style: preserve-3d; backface-visibility: hidden; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; }
.team_flip .flip_out { -webkit-transform: rotateY( 0deg); -moz-transform: rotateY( 0deg); -o-transform: rotateY( 0deg); transform: rotateY( 0deg); }
.team_flip .flip_in { -webkit-transform: rotateY( -180deg); -moz-transform: rotateY( -180deg); -o-transform: rotateY( -180deg); transform: rotateY( -180deg); }
.team_flip:hover .flip_out { -webkit-transform: rotateY( 180deg); -moz-transform: rotateY( 180deg); -o-transform: rotateY( 180deg); transform: rotateY( 180deg); }
.team_flip:hover .flip_in { -webkit-transform: rotateY( 0deg); -moz-transform: rotateY( 0deg); -o-transform: rotateY( 0deg); transform: rotateY( 0deg); background: #000 }
.flip_in strong, .flip_in span { widht: 100%; display: block; }
.flip_in strong { color: #aaa; }
.flip_in span { margin-bottom: 1rem; }
.case_ul { position: relative; max-width: 1400px; margin: -15rem auto 0; z-index: 10; }
.case_ul li { position: relative; width: 45%; height: 40rem; margin-bottom: 5rem; float: left; overflow: hidden; }
.case_ul li:nth-child(2n) { float: right; }
.case_ul li span { display: block; width: 100%; }
.case_ul li strong { display: block; padding: 20px 10px; text-align: center; font-weight: normal; }
.case_item_pic_wrap { transition: transform .5s cubic-bezier(.25, .8, .25, 1), box-shadow .5s cubic-bezier(.25, .8, .25, 1); background-color: #000; }
.case_item_pic_wrap img { opacity: 0.5; transform: scale(1.1); }
.mask { position: absolute; top: 0; left: 0; display: block; width: 100%; height: 100%; color: #fff; opacity: 0; visibility: hidden; overflow: hidden; }
.mask:hover { color: #fff; }
.case_ul li:hover .mask { opacity: 1; visibility: visible; }
.case_ul li:hover strong { opacity: 0; }
.case_ul li:hover em { top: 20rem; }
.case_ul li:hover span { top: 20rem; }
.case_ul li:hover img { opacity: 0.8; transform: scale(1.0); }
.mask p { position: absolute; width: 100%; height: 100%; left: 0; bottom: 0; text-align: center; }
.mask em { position: relative; display: block; width: 60px; height: 60px; margin: 0 auto 30px; font-size: 40px; font-style: normal; text-align: center; line-height: 55px; border: 2px solid #fff; border-radius: 40px; top: 0; background: rgba(0,0,0,0.8); }
.mask span { position: relative; top: 40rem; font-weight: bold; font-size: 1.2rem; }
.case_content { max-width: 1400px; margin: 0 auto; padding: 10rem 0; overflow: hidden; }
.case_heading { position: relative; width: 80%; margin: 0 auto 8rem; text-align: center; font-size: 1.5rem; z-index: 5; }
.case_grid { position: relative; width: 100%; z-index: 5; }
.case_grid_half { width: 49.6%; float: left; }
.case_grid_half:nth-child(2n) { float: right; }
.case_testimonial_say { position: relative; max-width: 1400px; margin: 0 auto; padding: 0 0 10rem; text-align: center; z-index: 5; }
.case_testimonial_say h4 { position: relative; display: block; margin-bottom: 2rem; font-size: 2rem; }
.case_testimonial_say h4:before { position: absolute; left: 0; top: -6rem; content: '"'; font-size: 10rem; color: #eee; z-index: -1; }
.inner .case_show_header{min-height:25rem;}
@media only screen and (max-width: 1600px) {
.header_arrow { display: none; }
.header_txt { top: 20%; }
.wwd_slider { min-height: 40rem; }
.wwd_slider_content { padding: 15rem 5rem 0; }
.wwd_slider_button { width: 47%; }
.tree_wrapper, .contact_qa, .contact_form, .wd, .case_content { max-width: 1000px; }
.header_arrow { margin: 5% auto; }
}

@media only screen and (max-width: 1200px) {
body { font-size: 14px; }
.index_header { min-height: inherit; height: 30rem; }
.wwd_slider, .wwd_slider_bg { min-height: inherit; height: 40rem; }
.header_arrow, .wwd_slider_bg:before, .wwd_slider_bg:after, .wwd_img, .case, .prevBtn, .nextBtn { display: none; }
.header_txt { }
.header_txt strong { margin-left: -3rem; font-size: 5rem; }
.header_line { margin: 0 auto; }
.wwd_slider_content { padding: 15rem 5rem 0; }
.tree_wrapper, .contact_qa, .contact_form, .wd, .case_content { max-width: 98%; }
.header_arrow { margin: 5% auto; }
.contact_qa { margin: 5rem auto; }
.tree_node, .team_item { width: 100%; }
.team_item { margin-bottom: 1rem; }
.wd_item { margin-top: 0; }
.wd_item { height: 33rem; }
.wwd_slider_button, .contact_qa .half_box, .wd .wd_title { width: 98%; }
.contact_qa .half_box, .contact_qa .half_box:nth-child(2n), .wd_title, .case_ul li, .case_ul li:nth-child(2n) { float: none; }
.team_item, .team_box ul { display: block; }
.wd_title { text-align: left; }
.header_nav, .wwd_slider_warp { width: 98%; left: 1%; margin: 0 auto; }
.wwr .padding { padding: 15rem 0 5rem; }
.case_ul li { margin: 0 aauto 3rem; }
}

@media only screen and (max-width: 700px) {
.wd { padding: 15rem 0 5rem; }
.inner_header .header_txt { top: 5rem; }
.inner_header { min-height: 25rem; }
.inner_header .header_txt h1, .wd_title { font-size: 1.5rem; }
.wd_box, .up_loader, .up_text { width: 100%; }
.team_item { height: 25rem; }
.wd_item, .case_ul li { width: 98%; }
.wd_item, .case_ul li { margin: 0 auto; }
.team_item p { padding: 0 2rem; }
.wd_pic { max-height: 35rem; overflow: hidden; }
.wd_item { position: relative; z-index: 5; overflow: hidden; }
.wd_text { padding: 3rem 1rem; }
.wd_text h6 { margin-bottom: 1rem; font-size: 1.5rem; }
.wd_box { display: block; }
.wd_item { height: auto; }
.left_footer ul, .mask { display: none; }
.n_Ocontent a { font-size: 1.5rem; padding: 1rem 0 1rem 1rem; }
.n_Obottom { left: 1rem; bottom: 2rem; }
.n_Ocontent a:hover { padding-left: 1.2rem; }
.shadow_box { padding: 1rem; }
.tree_text h3 { font-size: 1.25rem; }
.tree_text p { font-size: inherit; }
.wwd_slider_content { padding: 15rem 1rem 0; }
.slider_nav_btn, .wsc_btn { font-size: 0.8rem }
.header_line::before, .header_line::after { left: 17.5%; }
.header_txt span { margin-left: 0; font-size: 1rem; }
.c_data li strong { font-size: 1rem; }
.case_ul li { margin: 2rem auto 0; }
}

@media only screen and (max-width: 600px) {
.index_header, .case_ul li { height: 20rem; }
.header_txt strong { font-size: 3rem; }
.case_heading { font-size: 1rem; margin: 0 auto 3rem; }
.case_testimonial_say h4 { font-size: 1rem; }
.case_grid_half, .case_grid_half:nth-child(2n) { width: 100%; float: none; }
.case_testimonial_say, .case_content { padding: 3rem 0; }
}
